#
# User crontab file for radio computer.
# This crontab is to be installed as user.
#
# m h  dom mon dow   command
#
# No time driven event, this is at boot.
@reboot /home/orangepi/update.pos.pat.conf.py
@reboot /home/orangepi/update.pos.WSJT-X.conf.py
# These two scripts are run at boot time and will update
# the positions. The Server need to be up.
#
